.start-screen {
  max-width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.start-form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-fields {
  display: flex;
  justify-content: space-around;
}
